body {
  font-family: "Rubik", sans-serif;
  background-image: url("../images/water.jpg");
  background-attachment: fixed;
}
main {
  margin-top: 10px;
  padding-bottom: 15px;
  line-height: 1;
}
header {
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}
strong {
  color: #f87882;
}
a {
  color: black;
}
a:hover {
  color: #f87882;
}
p {
  opacity: 0.9;
}
.weather-app {
  background-color: #434a7f;
  border: 1px solid #434a7f;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  color: #fff;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 60px auto;
}
.weather-search-input {
  width: 75%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  background-color: #e1e1e1;
}
.weather-search-bar {
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 10px;
  background-color: #885df1;
  color: #fff;
}
.weather-section {
  display: flex;
  justify-content: space-between;
}
.weather-icon {
  position: relative;
  top: 15px;
}
.weather-value {
  font-size: 80px;
  position: relative;
  top: -15px;
  font-weight: bold;
}
.weather-unit {
  font-size: 28px;
  position: relative;
  top: -52px;
}
footer {
  border-top: 1px solid grey;
  padding-top: 20px;
  text-align: center;
  opacity: 0.8;
}
.weather-forecast {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.forecast-icon {
  width: 82px;
}
.forecast-min-temperature {
  color: black;
  opacity: 0.6;
}
.forecast-temperatures {
  font-size: 16px;
}
